.AuthForm
  width 100%

  &__password
    position relative

    > a
      display block
      position absolute
      right 1.5em
      top 50%
      transform translateY(-50%)
      font-size font-size-xs
      line-height 1
      font-weight bold
      color colors-gray-light
