.AuthHeader
  a.AuthHeader__logo( href='/' )
    include ../../../public/images/arena-mark.svg

  -var mode = 'login'
  nav.AuthHeader__nav
    a.js-toggle(
      data-mode='login'
      data-active=(mode === 'login')
    ) Login

    span.Separator

    a.js-toggle(
      data-mode='signup'
      data-active=(mode === 'signup')
    ) Sign up
