extends ../../../components/layout/index

block scripts
  script( src= asset('/assets/tools.js') )

block body
  .Page
    include ./tabs/bookmarklet
    include ./tabs/add_via_email
    include ./tabs/find_friends
    include ./tabs/invite
