extends ../../../components/layout/layouts/blank

block container
  .Auth
    include header

    form.AuthForm( method='POST' )
      .Fieldset
        input.Input(
          name='email'
          type='email'
          placeholder='Email'
          required
          autofocus
        )

      button.Button.Button--divider
        | Reset password

block scripts
  script( src= asset('/assets/auth.js') )
