.GridBlocks
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between

  > *
    margin 0 0 5em 0

.GridBlock
  width grid-block-size
  height @width
  border 1px solid colors-gray-border
